@import '@mantine/core/styles.layer.css';
@import '@mantine/dropzone/styles.layer.css';
@import '@mantine/tiptap/styles.layer.css';

@layer utilities {
  /* Hide arrows in input number fields for a specific class */
  .no-arrows::-webkit-outer-spin-button,
  .no-arrows::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    width: 0;
    height: 0;
  }
  .no-arrows::-webkit-textfield-decoration-container {
    /* display: none; */
    margin-right: 12px;
  }

  .no-arrows {
    -moz-appearance: textfield; /* Firefox */
    appearance: textfield; /* Standard */
    /* margin-left: 12px; */
  }

  .percent::after {
    content: '%';
    display: inline-block;
  }
}

body {
  font-family: 'Futura', sans-serif;
}
@keyframes slide {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
